<div class="p-6 sm:p-8 space-y-4 md:space-y-6 w-full sm:max-w-md bg-white sm:rounded-md shadow dark:border dark:bg-gray-800/50 dark:border-gray-800">
  <h2 class="text-xl font-bold text-gray-900 md:text-2xl dark:text-white">
    <%= active_admin_application.site_title(self) %> <%= set_page_title t('active_admin.devise.change_password.title') %>
  </h2>

  <%= render partial: "active_admin/devise/shared/error_messages", resource: resource %>
  <%= active_admin_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f|
    f.inputs do
      f.input :password
      f.input :password_confirmation
      f.input :reset_password_token, as: :hidden, input_html: { value: resource.reset_password_token }
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.change_password.submit'), button_html: { class: "w-full", value: t('active_admin.devise.change_password.submit') }
    end
  end
  %>

  <%= render 'active_admin/devise/shared/links' %>
</div>
