<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-type" content="text/html; charset=utf-8">
 
  <title><%= [@page_title, ActiveAdmin.site_title].join(" | ") %></title>

  <%= stylesheet_link_tag *ActiveAdmin.stylesheets %>
  <%= javascript_include_tag *ActiveAdmin.javascripts %>
  <%= csrf_meta_tag %>

</head>
<body>
<div id="wrapper">
  <div id="header">
    <h1 id="site_title"><%= ActiveAdmin.site_title %></h1>
    <%= ActiveAdmin.tabs_renderer.new(self).to_html(current_menu) %>
  </div>
  <div id="title_bar">
    <%= yield :title_bar %>
  </div>
  <div id="content" class="<%= skip_sidebar? ? 'without_sidebar' : 'with_sidebar' %>">
    <%= yield :flash_messages %>
    <div id="main_content_wrapper">
      <div id="main_content">
        <%= yield %>
      </div>
    </div>
    <% unless skip_sidebar? %>
      <div id="sidebar">
        <%= yield :sidebar %>
      </div>
    <% end %>
  </div>
  <div id="footer">
    <%= yield :footer %>
  </div>
</div>
</body>
</html>
