<table id="<%= resource_class.name.underscore.pluralize %>_index_table" class="index_table">
  <tr>
    <% index_config.columns.each do |column| %>
      <th><%= column.title %></th>
    <% end %>
  </tr>
  <% collection.each do |resource| %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <% index_config.columns.each do |column| %>
        <td><%= column.data.is_a?(Proc) ? column.data.call(resource) : resource.send(column.data) %></td>
      <% end %>
      <td>
        <%= link_to "Edit", edit_resource_path(resource) %> | 
        <%= link_to "Delete", resource_path(resource), :method => :delete, :confirm => "Are you sure you want to delete this?" %>
      </td>
    </tr>
  <% end %>
</table>