<table id="<%= resource_class.name.underscore.pluralize %>_index_table" class="index_table">
  <tr>
    <% index_config.columns.each do |column| %>
      <th><%= column.title %></th>
    <% end %>
  </tr>
  <% collection.each do |row_object| %>
    <% controller.send :set_resource_ivar, row_object && @resource = row_object && instance_variable_set("@#{resource_instance_name}", row_object) %>
    <tr class="<%= cycle 'odd', 'even' %>">
      <% index_config.columns.each do |column| %>
        <td><%= column.data.is_a?(Proc) ? instance_eval(&column.data) : row_object.send(column.data) %></td>
      <% end %>
      <td>
        <%= link_to "Edit", edit_resource_path(row_object) %> | 
        <%= link_to "Delete", resource_path(row_object), :method => :delete, :confirm => "Are you sure you want to delete this?" %>
      </td>
    </tr>
  <% end %>
</table>