<div class="devise-form-container">
  <h2 class="devise-form-title">
    <%= site_title %> <%= set_page_title t('active_admin.devise.unlock.title') %>
  </h2>

  <%= render partial: "active_admin/devise/shared/error_messages", resource: resource %>
  <%= active_admin_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    f.inputs do
      f.input :email
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.unlock.submit'), button_html: { class: "devise-form-button", value: t('active_admin.devise.unlock.submit') }
    end
  end %>

  <div class="devise-shared-links">
    <%= render partial: "active_admin/devise/shared/links" %>
  </div>
</div>
