<div class="p-6 sm:p-8 space-y-4 md:space-y-6 w-full sm:max-w-md bg-white sm:rounded-md shadow dark:border dark:bg-gray-800/50 dark:border-gray-800">
  <h2 class="text-xl font-bold text-gray-900 md:text-2xl dark:text-white">
    <%= site_title %> <%= set_page_title t('active_admin.devise.unlock.title') %>
  </h2>

  <%= render partial: "active_admin/devise/shared/error_messages", resource: resource %>
  <%= active_admin_form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
    f.inputs do
      f.input :email
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.unlock.submit'), button_html: { class: "w-full", value: t('active_admin.devise.unlock.submit') }
    end
  end %>

  <%= render partial: "active_admin/devise/shared/links" %>
</div>
