<div class="p-6 sm:p-8 space-y-4 md:space-y-6 w-full sm:max-w-md bg-white sm:rounded-md shadow dark:border dark:bg-gray-800/50 dark:border-gray-800">
  <h2 class="text-xl font-bold text-gray-900 md:text-2xl dark:text-white">
    <%= active_admin_application.site_title(self) %> <%= set_page_title t('active_admin.devise.sign_up.title') %>
  </h2>

  <% scope = Devise::Mapping.find_scope!(resource_name) %>
  <%= render partial: "active_admin/devise/shared/error_messages", resource: resource %>
  <%= active_admin_form_for(resource, as: resource_name, url: main_app.send(:"#{scope}_registration_path"), html: { id: "registration_new" }) do |f|
    f.inputs do
      resource.class.authentication_keys.each_with_index { |key, index|
        f.input key, label: t('active_admin.devise.'+key.to_s+'.title'), input_html: { autofocus: index.zero? }
      }
      f.input :password, label: t('active_admin.devise.password.title')
      f.input :password_confirmation, label: t('active_admin.devise.password_confirmation.title')
    end
    f.actions do
      f.action :submit, label: t('active_admin.devise.login.submit'), button_html: { class: "w-full", value: t('active_admin.devise.sign_up.submit') }
    end
  end
  %>

  <%= render partial: "active_admin/devise/shared/links" %>
</div>
