<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render "active_admin/html_head/title", title: html_head_site_title %>
  <%= render "active_admin/html_head/defaults" %>
</head>
<body>
  <div class="inner-body-container">
    <%= render "active_admin/site_header", title: site_title %>
    <%= render "active_admin/page_header", title: @page_title || page_title %>
    <%= render "active_admin/flash_messages" %>
    <div data-test-page-content class="link-default px-2.5 lg:px-5 grid grid-cols-1 gap-4 lg:gap-6 lg:grid-flow-col lg:auto-cols-[minmax(0,250px)]">
      <%= yield %>
      <%= render "active_admin/sidebar" %>
    </div>
    <%= render "active_admin/site_footer" %>
  </div>
</body>
</html>
