<!doctype html>
<html lang="<%= I18n.locale %>">
<head>
  <%= render "active_admin/html_head/title", title: html_head_site_title %>
  <%= render "active_admin/html_head/defaults" %>
</head>
<body class="devise-body">
  <div class="devise-page-container">
    <%= render "active_admin/flash_messages" %>
    <%= yield %>
  </div>
</body>
</html>
