<!DOCTYPE html>
<html lang="<%=I18n.locale%>">
<head>
  <%= render "active_admin/html_head/title", title: [@page_title, ActiveAdmin.application.site_title(self)].compact.join(" | ") %>
  <%= render "active_admin/head" %>
</head>
<body class="devise-body">
  <div class="devise-page-container">
    <div class="flashes">
      <% flash_messages.each do |type, message| %>
        <%= content_tag :div, class: "flash flash_#{type}" do %>
          <% if type == "notice" %>
            <svg class="flash-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z"/></svg>
          <% elsif type == "alert" %>
            <svg class="flash-icon" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20"><path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM10 15a1 1 0 1 1 0-2 1 1 0 0 1 0 2Zm1-4a1 1 0 0 1-2 0V6a1 1 0 0 1 2 0v5Z"/></svg>
          <% end %>
          <%= message %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
  </div>
</body>
</html>
